<header th:fragment="header">
    <div class="navbar">
        <div class="menu-icon" id="menuIcon" onclick="toggleMenu(true)">&#9776;</div>
        <div class="logo"><span>Top Balance</span></div>
        <div class="icons">
            <span class="search-icon">&#128269;</span>
            <span class="profile-icon">&#128100;</span>
        </div>
    </div>
    <div class="side-menu" id="sideMenu">
        <div class="close-icon" onclick="toggleMenu(false)">&times;</div>
        <ul>
            <li><a href="/">메인으로 이동</a></li>
            <li><a href="/balancegame">Start Game</a></li>
            <li><a href="/bamboo">Bamboo</a></li>
            <li><a href="#">bb가 만든 모든 심테보기</a></li>
            <li><a href="#">제휴문의</a></li>
        </ul>
    </div>
</header>