<header th:fragment="header">
    <div class="navbar">
        <div class="menu-icon" id="menuIcon" onclick="toggleMenu(true)">&#9776;</div>
        <div class="logo"><span>BestBalance</span></div>
        <div class="icons">
            <span class="search-icon">&#128269;</span>
            <span class="profile-icon" th:if="${loggedInUser == null}" onclick="location.href='/login'">&#128100;</span>
            <span class="profile-icon" th:if="${loggedInUser != null}" onclick="location.href='/mypage'">&#128101;</span>
        </div>
    </div>
    <div class="side-menu" id="sideMenu">
        <div class="close-icon" onclick="toggleMenu(false)">&times;</div>
        <ul>
            <li><a href="/">메인화면</a></li>
            <li><a href="/balancegame">Start Game</a></li>
            <li><a href="/bamboo">BAMBOO</a></li>
            <li><a href="/gameresult">게임 결과</a></li>
            <li><a th:if="${loggedInUser == null}" href="/register">회원가입</a></li>
            <li><a th:if="${loggedInUser == null}" href="/login">로그인</a></li>
            <li><a th:if="${loggedInUser != null}" href="/mypage">마이페이지</a></li>
            <li><a th:if="${loggedInUser != null}" href="/logout">로그아웃</a></li>
        </ul>
    </div>
</header>
