<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" lang="ko">
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>WISHTREE - JOIN</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/script.js" defer></script>
  <style>

  </style>
</head>
<body>
<!-- Main Content -->
<div class="register-container">
  <!-- Header -->
  <th:block th:replace="~{layout/header :: header}"></th:block>
  <H1>회원가입</H1>
  <form action="/register-success" method="post" id="checkRegExp" class="register-content">
    <label for="userId">아이디</label>
    <input type="text" id="userId" name="userId" required>
    <br><br>
    <label for="userPassword">비밀번호</label>
    <input type="password" id="userPassword" name="userPassword" required>
    <br><br>
    <label for="userName">이름</label>
    <input type="text" id="userName" name="userName" required>
    <br><br>
    <label for="userPhone">핸드폰번호</label>
    <input type="text" id="userPhone" name="userPhone" required>
    <br><br>
    <label for="userBirthdate">생년월일</label>
    <input type="Date" id="userBirthdate" name="userBirthdate" required>
    <br><br>
    <label>성별(필수아님)</label>
    <br>
    <label for="male" class="radioClick">
      <input type="radio" id="male" name="userGender" value="MALE">남성
    </label>
    <label for="female" class="radioClick">
      <input type="radio" id="female" name="userGender" value="FEMALE">여성
    </label>
    <br><br>
    <button type="submit">가입하기</button>
  </form>


  <!-- Footer -->
  <th:block th:replace="~{layout/footer :: footer}"></th:block>
</div>
<script src="../static/js/wishtreeUserRegExp.js"></script>

</body>
</html>