<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" lang="ko">
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>WISHTREE - JOIN SUCCESS</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/script.js" defer></script>
</head>
<body>
<!-- Header -->
<th:block th:replace="~{layout/header :: header}"></th:block>
<!-- Main Content -->
<div class="success-container">
  <h1>정보수정 완료</h1>
  <p th:text="${msg}"></p>
  <a href="/">메인페이지로 이동하기</a>
  <a href="/mypage">내 정보 보기</a>
</div>
<!-- Footer -->
<th:block th:replace="~{layout/footer :: footer}"></th:block>
</body>
</html>