<!DOCTYPE html>
<html lang="ko" xml:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>WISHTREE - UPDATE</title>
    <link href="/css/styles.css" rel="stylesheet">
    <script defer src="/js/script.js"></script>
</head>
<body>
<!-- Main Content -->
<div class="register-container">
    <!-- Header -->
    <th:block th:replace="~{layout/header :: header}"></th:block>
    <h1>회원정보수정</h1>
    <form action="/update-success" class="register-content" method="post">
        <div class="form-group">
            <label for="userId">아이디</label>
            <input id="userId" name="userId" readonly th:value="${user.userId}" type="text">
        </div>
        <div class="form-group">
            <label for="userPassword">비밀번호</label>
            <input id="userPassword" name="userPassword" required th:value="${user.userPassword}"
                   type="password">
        </div>
        <div class="form-group">
            <label for="userName">이름</label>
            <input id="userName" name="userName" required th:value="${user.userName}" type="text">
        </div>
        <div class="form-group">
            <label for="userPhone">핸드폰번호</label>
            <input id="userPhone" name="userPhone" required th:value="${user.userPhone}" type="text">
        </div>
        <div class="form-group">
            <label for="userBirthdate">생년월일</label>
            <input id="userBirthdate" name="userBirthdate" required th:value="${user.userBirthdate}"
                   type="Date">
        </div>
        <div class="form-group">
            <label>성별</label>
            <label class="radioClick" for="male">
                <input id="male" name="userGender" th:checked="${user.userGender == 'MALE' }" type="radio"
                       value="MALE">남성
            </label>
            <label class="radioClick" for="female">
                <input id="female" name="userGender" th:checked="${user.userGender == 'FEMALE' }" type="radio"
                       value="FEMALE">여성
            </label>
        </div>
        <button type="submit">수정완료</button>
    </form>

    <th:block th:replace="~{layout/footer :: footer}"></th:block>
</div>
<script src="../static/js/wishtreeUserRegExp.js"></script>
<!-- Footer -->
</body>
</html>