<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Java 어떤 파일에 sql문을 보낼지 경로 설정
    namespace 내에 mapper 경로 작성
-->
<mapper namespace="com.topBalance.wishTree.mapper.RankingMapper">
    <!-- sql문을 보낼 때 보낼 표기명 id에 작성 -->

    <!-- 상위랭크 10명 조회 SQL : user 테이블에 저장되어 있는 유저들 조회 -->
    <select id="getTenRank" >
        SELECT total_score, user_id
        FROM user
        ORDER BY total_score DESC LIMIT 10
    </select>



</mapper>